@model DonutzStudio.Models.RegisterForm

@{
    ViewData["Title"] = "สร้างบัญชีผู้ใช้";
}

<link rel="stylesheet" href="~/css/loginregis.css" />

<div class="page">
    <form asp-action="Create" class="box box-h shadow-lg">
        <h1>สร้างบัญชีผู้ใช้</h1>
        <div class="form-group">
            <label>ชื่อผู้ใช้งาน</label>
            <i class="fas fa-user-circle"></i>
            <input asp-for="Username" placeholder="ชื่อผู้ใช้งาน" required autofocus />
        </div>
        <div class="form-group">
            <label>รหัสผ่าน</label>
            <i class="fas fa-lock"></i>
            <input type="password" asp-for="Password" placeholder="รหัสผ่าน" required />
        </div>
        <div class="form-group">
            <label>ยืนยันรหัสผ่าน</label>
            <i class="fas fa-lock"></i>
            <input type="password" asp-for="Password2" placeholder="รหัสผ่าน" required />
        </div>

        <button class="btn my">ลงชื่อเข้าใช้</button>
        <a asp-controller="Login" class="link">มีบัญชีแล้ว? ลงชื่อเข้าใช้งาน</a>
    </form>
</div>
