.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 380px);
  justify-content: space-evenly;
}

.lab-card {
  width: 380px;
  height: 280px;
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  cursor: pointer;
  position: relative;
}

.lab-card::before {
  display: none;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  border: 6px solid;
  border-color: inherit;
}

.lab-card:hover::before {
  display: block;
}

.lab-img {
  width: 100%;
  height: 220px;
  border-radius: 8px 8px 0 0;
  border: none;
  object-fit: cover;
}

.lab-name {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
