@* ========== THIS FILE IS FOR DEBUGING ========== *@

@model DonutzStudio.Models.Lab

@{
    ViewData["Title"] = "Delte";
}

<h1>Create</h1>

<h4>Lab</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete" asp-route-id="@Model.Id">

            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
