.card {
  width: 1220;
  height: 70px;
  border-radius: 5px;
  background: #ffff;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

/*popup*/

.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  pointer-events: none;
  justify-content: center;
  align-items: center;
}

.popup {
  width: 400px;
  height: 400px;
  background: white;
  padding: 1rem;
}

.confirm_to_delete {
  display:flex;
  width: 100%;
}